@model TMS.Models.TaskViewModel

<div class="modal fade" id="taskRemoveModal-@Model.Id" tabindex="-1" aria-labelledby="taskRemoveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <strong>@Model.Title</strong> (<em>@Model.CreatedBy</em>)?</p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Task_DeleteConfirmed_Client", "Task", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", Model.Id)
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                }
            </div>
        </div>
    </div>
</div>
