@model TMS.Models.ChangePasswordViewModel

<div class="modal fade" id="changePasswordModal" tabindex="-1"
     aria-labelledby="changePasswordModalLabel" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.UserId)
                    if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <div class="mb-3">
                        <label class="form-label">New Password</label>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", required = "required" })
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update Password</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
